*{
    margin: 0;
    padding: 0;
}
body {
    background-color:#f2f2f2 ;
}
.header {
    background-color: #2c3e50;
    text-align: center;
    color: white;
    padding: 20px;
}
.menu {
    margin-top: 10px;
    padding: 10px;
}
.menu a {
    margin: 0 12px;
    text-decoration: none;
    font-weight: 600;
    transition: 0.3s;
    color: white;
}
.banner {
    background-color: black;
    color: white;
    opacity: 0.5;
    padding: 20px;
    position: absolute;
    left: 200px;
    width: 900px;
    margin: 70px;
}
.banner h2, p {
    padding-top: 20px;
}
.introduce {
    padding: 30px;
    border: 1px solid black;
    width: 900px;
    margin-left: 270px;
    margin-top: 20px;
    background-color: white;
}
.category {
    padding: 30px;
    border: 1px solid black;
    width: 900px;
    margin-left: 270px;
    margin-top: 20px;
    background-color: white;
}
.jpg {
    margin: 5px;
}
.jpg:hover{
    padding: 20px;
    width: 190px;
    border-radius: 12px;
    transition: 0.3s;
}
.manage {
    padding: 30px;
    border: 1px solid black;
    width: 900px;
    margin-left: 270px;
    margin-top: 20px;
    background-color: white;
}
.manage table {
    text-align: center;
}
.manage th {
    background-color: #ecf0f1;
}
.manage td, th {
    padding: 10px;
}
.borrow {
    padding: 30px;
    border: 1px solid black;
    width: 900px;
    margin-left: 270px;
    margin-top: 20px;
    background-color: white;
}
.in {
    width: 100%;
    height: 25px;
    padding: 5px;
}
.btn {
    margin-top: 10px;
    width: 100%;
    border: none;
    border-radius: 6px;
    padding: 14px 16px;
    background: #2c3e50;
    color: #fff;
    font-size: 15px;
    font-weight: 800;
    cursor: pointer;
}
.btn:hover {
    background: #0b8f8e;
    padding: 20px;
    width: 900px;
    transition: 0.3s;
}

.footer {
    background-color: #2c3e50;
    color: #fff7ed;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 70px;
    margin-top: 20px;
}
